<app-user-navbar/>
<br>
<br>

<div class="container mt-5">
    <!-- User Profile Card -->
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <!-- Left side: Profile Image -->
                <div class="col-md-4">
                    <img src="assets/images/profile/2.jpg" alt="Profile Image" class="img-fluid rounded-circle">
                </div>
                
                <!-- Right side: User Information -->
                <div class="col-md-8">
                    <h4 class="card-title">User Name</h4>
                    <p class="card-text">
                        <strong>Email:</strong> userexample.com<br>
                        <strong>Phone:</strong> +1234567890
                    </p>
                    <div class="p-t-55">
                        <h4 class="mtext-112 cl2 p-b-33">
                            Find More
                        </h4>

                        <ul>
                            <li class="bor18">
                                <a href="#" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
                                    My Cart
                                </a>
                            </li>

                            <li class="bor18">
                                <a href="#" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
                                    My Profile
                                </a>
                            </li>

                            <li class="bor18">
                                <a href="#" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
                                    Add Here
                                </a>
                            </li>

                            <li class="bor18">
                                <a href="#" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
                                    Life Style
                                </a>
                            </li>

                            <li class="bor18">
                                <a href="#" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
                                    DIY & Crafts
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<app-footer></app-footer>
