<app-admin-navbar></app-admin-navbar>

<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <form [formGroup]="categoryfrom" (ngSubmit)="onSubmit()">
        <div class="card shadow-sm border">
          <div class="card-header bg-light">
            <h5 class="card-title mb-0">Create Category</h5>
          </div>
          <div class="card-body">

            <div class="form-group">
              <label for="categoryName">Category Name</label>
              <input type="text" class="form-control" formControlName="category"
                     id="categoryName" placeholder="Enter category name" required
                     [ngClass]="{ 'is-invalid': submit && geterror.category.hasError('required') }">
              <div *ngIf="submit && geterror.category.hasError('required')" class="invalid-feedback">
                Product category is required
              </div>
            </div>

            <button type="submit" class="btn btn-primary">Create Category</button>
          </div>
        </div>
      </form>

      <div *ngIf="categories.length > 0; else noCategories">
        <h3>Categories:</h3>
        <ul class="list-group">
          <li *ngFor="let category of categories" class="list-group-item">{{ category.category }}</li>
        </ul>
      </div>

      <ng-template #noCategories>
        <p>No categories available.</p>
      </ng-template>

    </div>
  </div>
</div>

<app-footer></app-footer>
